.nav.navbar-nav {
    font-size: 15px;
}

#searchForm {
    margin-right: 100px;
}

@media (max-width: 1000px) {
    #searchForm {
        display: none;
    }
}

li > a.active {
    color: #F97924;
}
